@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@700&family=Montserrat&display=swap');


* {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}
#title {
  font-family: Lemonada,sans-serif;
  font-size: 12vw;
  margin: 0;
  padding: 0;
  line-height: 1em;
}
#title2 {
  font-family: Lemonada,italic;
  font-size: 50px;
  margin: 0;
  padding: 0;
  line-height: 1em;
  color: rgba(53,53,53,0.893);
  display: relative;
  width: 0;
}
#image {
  max-width: 100%;
  display: block;
}
.about {
  display: relative;
  max-width: 450px;
}
.card {
  padding: 1rem;
  margin-top: 1em;
}
.line {
  max-width: 450px;
  border-width: 3px;
  border-style: solid;
  border-top-color: rgb(34,34,34);
  border-bottom-color: rgb(34,34,34);
  border-left-color: rgb(34,34,34);
  border-right-color: rgb(34,34,34);
  margin-top: 2em;
}
.yt {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}

.person {
  margin: 0.25em;
  border: 1px solid #eee;
}
.member {
  width: 80%;
  height: 80%;
  padding-top: 0.5em;
}

@media (min-width: 767.98px) {
  .member {
    width: 50%;
    height: 50%;
    padding-top: 0.5em;
  }
}